# SPDX-FileCopyrightText: 2017-2025 Friedrich von Never <friedrich@fornever.me>
#
# SPDX-License-Identifier: GPL-3.0-only

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
